<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">
<meta property="og:image:width" content="279">
<meta property="og:image:height" content="279">
<meta property="og:title" content="Rekorn Sounds">
<meta property="og:description" content="Welcome to DJ Rekorn's website.">
<meta property="og:url" content="http://rekorn.com/">
<meta property="og:image" content="http://rekorn.com/og-image.jpg">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>
